@font-face
  font-family: "Source Sans Pro"
  src: local("Source Sans Pro"), url(https://cdn.jsdelivr.net/gh/xaoxuu/cdn-fonts@18.12.25/SourceSansPro/SourceSansPro-Regular.ttf)

@font-face
  font-family: "Source Sans Pro"
  src: local("Source Sans Pro Light"), url(https://cdn.jsdelivr.net/gh/xaoxuu/cdn-fonts@18.12.25/SourceSansPro/SourceSansPro-Light.ttf)
  font-weight: 300

@font-face
  font-family: "Source Sans Pro"
  src: local("Source Sans Pro Semibold"), url(https://cdn.jsdelivr.net/gh/xaoxuu/cdn-fonts@18.12.25/SourceSansPro/SourceSansPro-Semibold.ttf)
  font-weight: 600

@font-face
  font-family: "Roboto Mono"
  src: local("Roboto Mono"), url(https://cdn.jsdelivr.net/gh/xaoxuu/cdn-fonts@18.12.25/RobotoMono/RobotoMono-Regular.ttf)

@font-face
  font-family: "Dosis"
  src: local("Dosis Medium"), url(https://cdn.jsdelivr.net/gh/xaoxuu/cdn-fonts@18.12.25/Dosis/Dosis-Medium.ttf)
  font-weight: 500

@font-face
  font-family: "Skranji"
  src: local("Skranji"), url(https://cdn.jsdelivr.net/gh/xaoxuu/cdn-fonts@18.12.25/Skranji/Skranji-Regular.ttf)
  font-weight: normal

@font-face
  font-family: "Ubuntu"
  src: local("Ubuntu"), url(https://cdn.jsdelivr.net/gh/xaoxuu/cdn-fonts@18.12.25/Ubuntu/Ubuntu-Regular.ttf)
  font-weight: normal
