<li class="nav blog"><a class="nav-link" href="//xaoxuu.com"><i class='fas fa-rss fa-fw'></i>&nbsp;博客</a></li>
<li class="nav blog"><a class="nav-link" href="//xaoxuu.com/blog/archives"><i class='fas fa-archive fa-fw'></i>&nbsp;归档</a></li>
